.header_buttons {
    height: 65px;
    width: 200px;
    border: none;
    border-radius: 15px;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    transition: box-shadow 0.3s, transform 0.5s; /* Slowly transformation */

}

.header_buttons:hover {
    box-shadow: 2px 2px 15px #0033FF;
    transform: scale(1.02); /* Makes the Button bigger*/
}

.center_div {
    padding: 10px 148.9px;
}

a {
    color: blue;
    text-decoration: none;
}


.position_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
}

.line {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    position: fixed;
    top: 10vh;
}

.font_course {
    font-size: 30px;
    text-align: center;
    margin-top: 25px;
    color: blue;
    font-family: 'Montserrat', sans-serif;
}

label {
    display: none;
}

.modal-dialog {
  max-width: 600px;
  margin: 1.75rem auto;
}

.modal-title {
    font-family: 'Montserrat', sans-serif;
}

.modal-content {
  border-radius: 10px;
}

.modal-header {
  background-color: blue;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 20px;
}

.modal-body {
  padding: 30px;
}


.lavel {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form_modal {
  width: 100%;
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form_modal:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}


input[type="submit"] {
  background-color: #0033FF;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}


input[type="submit"]:hover {
  background-color: blue;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
}


input[type="submit"]:active {
  transform: translateY(1px);
  box-shadow: none;
}


#customAlert .modal-content {
    border-radius: 10px;
    background-color: #f8f9fa;
    padding: 20px;
}

#customAlert .modal-header {
    background-color: blue;
    color: white;
    font-size: 18px;
    text-align: center;
}

#customAlert .modal-body {
    font-size: 25px;
    text-align: center;
    padding: 20px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#customAlert .btn-primary {
    background-color: #002CE0;
    border-color: #007bff;
    transition: background-color 0.3s ease;
}

#customAlert .btn-primary:hover {
    background-color: blue;
}
